
/* thirdpage */
#green{
    color:white;
    background-color:  rgb(71, 216, 117);;
}
.green-text{
    padding:7% 0% 0% 6%;
}
#greenImage{
    width: auto;
    text-align: center;
    padding: 0px;
    margin: 0% 0% 10% 30%;
}
#greenImage{
    max-width: 100%;
    height: auto;

}